@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.inputfields {
  .container {
    max-width: -webkit-fill-available;
    height: 500px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    // background-color: $ms-color-themeDark;
    background-color: #3d314e;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    // @include ms-lg10;
    // @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
    font-size: larger;
    font-weight: 700;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  label {
    display: inline-block;
    @include ms-fontColor-white;
  }
  input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid rgb(98, 95, 233);
    width: 100%;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: lightcyan;
  }
  .submit {
    background-color: #aa4238;
    border-bottom: 1px solid #ccc !important;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 105%;
  }
  .tip {
    display: inline;
  }

  [data-tip]:before {
    content: "";
    /* hides the tooltip when not hovered */
    display: none;
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid lightblue;
    position: absolute;
    top: 166px;
    // left: 35px;
    right: 47%;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    margin-left: 68%;
  }
  [data-tip]:after {
    display: none;
    content: attr(data-tip);
    position: absolute;
    top: 72%;
    right: 26%;
    border: 1px solid lightcyan;
    padding: 5px 8px;
    @include ms-fontColor-white;
    z-index: 9;
    font-size: 1em;
    height: 18px;
    line-height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    word-wrap: normal;
    margin-left: 65%;
  }
  [data-tip]:hover:before,
  [data-tip]:hover:after {
    display: block;
  }

  @media (max-width: 426px) {
    [data-tip]:hover:before,
    [data-tip]:hover:after {
      display: none;
    }
    .submit {
    width: 107%;
  }
  }
}
